@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="se-pre-con"></div>
<input type="hidden" value="@User.Identity.Name" id="userId" />
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">RESUME BUILDER</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger js-edit-resume text-left" href="">
                        <i class="fa fa-edit mr-3"> </i>
                        Edit / Update
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger js-template text-left" href="">
                    <i class="fa fa-file-contract mr-4"> </i>
                    Template
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger js-settings text-left" href="">
                    <i class="fa fa-cogs mr-3"> </i>
                    Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger js-public-profile  text-left" href="">
                    <i class="fa fa-user mr-4"> </i>
                    Public Profile
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger js-search text-left" href="">
                    <i class="fa fa-search mr-3"> </i>
                    Search
                </a>
            </li>
            <li class="nav-item">
                <a href="SignOut" type="button" class="btn btn-danger nav-link js-scroll-trigger text-white css-signout"><i class="fas fa-sign-out-alt"></i>  Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
<!--  -->
<!-- Dynamic goes here -->
<div class="container-fluid p-0 render-partial-view">
    <div class="m-5 home-dash">
        <img src="~/Images/dashboard-image.jpg" class="img-fluid dashboard-img ml-5" alt="background-resume-image" />
        <h2 class="text-center">
            Build Resumes With <i class="fa fa-heart text-danger"></i>
        </h2>
    </div>
</div>