@{
    Layout = null;
}
<div class="container-fluid w-75 bg-light mt-5 mb-5 rounded">
    <form class="p-4">
        <div class=""><h2>Basic Information</h2></div>
        <div class="input-group mb-2 mt-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">First and last name</span>
            </div>
            <input type="text" class="form-control">
            <input type="text" class="form-control">
        </div>
        <div class="form-group mb-2">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group mb-4">
            <label for="contact">Contact</label>
            <input type="number" class="form-control" id="contact">
        </div>
    </form>
    <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 summary">Summary<i class="fas fa-plus-circle pl-3 float-right mt-1"></i></a>
    <div class="js-show-summary">
        <form>
            <div class="form-group">
                <label>Resume Name</label>
                <input type="text" class="form-control" name="resume">
            </div>
            <div class="form-group">
                <label>Summary</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
        </form>
    </div>
    <!-- Summary field -->
    <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 education">Education<i class="fas fa-plus-circle pl-3 float-right mt-1"></i></a>
    <div class="js-show-education mb-md-5">
        <div class="form-group">
            <label class="form-check-label ml-4">
                <input type="radio" class="form-check-input" name="optradio">10th
            </label>
            <label class="form-check-label ml-4">
                <input type="radio" class="form-check-input" name="optradio">12th
            </label>
            <label class="form-check-label ml-4">
                <input type="radio" class="form-check-input" name="optradio">Graduation
            </label>
            <label class="form-check-label ml-4">
                <input type="radio" class="form-check-input" name="optradio">Post Graduation
            </label>
            <div class="mt-3 mb-3">
                <input type="text" class="form-control" name="yop" placeholder="Year of Passing" />
            </div>
            <div>
                <label class="form-check-label ml-5">
                    <input type="radio" class="form-check-input" name="optradio" value="cgpa">CGPA
                </label>
                <label class="form-check-label ml-4">
                    <input type="radio" class="form-check-input" name="optradio" value="percentage">Percentage
                </label>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" name="gradetype" placeholder="CGPA" />
                <input type="text" class="form-control" name="stream" placeholder="STREAM" />
                <input type="text" class="form-control" name="university" placeholder="UNIVERSITY" />
            </div>
        </div>
    </div>
    <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2 workexp">Work Experience<i class="fas fa-plus-circle pl-3 float-right mt-1"></i></a>
    <!-- Project Section-->
    <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2">Projects<i class="fas fa-plus-circle pl-3 float-right mt-1"></i></a>
    <div class="js-show-projects mb-4">
        <div class="form-check">
            <div class="mt-3 mb-3">
                <input type="text" class="form-control mt-3" name="projectName" placeholder="Project Name" />
                <textarea class="form-control mt-3" name="projectDetails" rows="3" cols="50" placeholder="Project Details"></textarea>
                <input type="text" class="form-control mt-3" name="projectRole" placeholder="Project Role" />
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Project Duration ( Months )</label>
                    </div>
                    <select class="custom-select project-duration" id="">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!--Skill Section -->
    <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2">Skills<i class="fas fa-plus-circle pl-3 float-right mt-1"></i></a>
    <div class="js-show-skills mb-4">
        <div class="form-check">
            <div class="mt-3 mb-3">
                <input type="text" class="form-control" name="skill" placeholder="Add Skills" />
            </div>

        </div>
    </div>
    <!--Languages Section -->
    <a class="list-group-item list-group-item-action bg-info rounded p-md-2 mb-2">Languages<i class="fas fa-plus-circle pl-3 float-right mt-1"></i></a>
    <div class="js-show-language mb-4">
        <div class="form-check">
            <div class="mt-3 mb-3">
                <input type="text" class="form-control" name="language" placeholder="Add Language" />
            </div>

        </div>
    </div>

</div>
