@model ResumeBuilder.Models.UserInfo
@{
    ViewBag.Title = "PublicProfile";
}
@*added by chinmay*@
<div class="primary-container p-5 w-75 ml-5">
    <div class="wrapper w-100 bg-light h-100">
        <div class="sidebar-wrapper float-right">
            <div class="profile-container p-3 bg-primary align-middle text-center">
                <img width="100px" height="100px" class="rounded-circle" src="~/Images/user.jpg" alt="user logo"/><br />
                <label class="font-weight-bold display-4">@Model.FirstName  @Model.LastName</label><br />
                <label>Full Stack Developer</label>
            </div>

            <div class="contact-container container-block bg-info pt-5 pl-4 pb-5">
                <ul class="list-unstyled contact-list text-white">
                    <li class="email"><i class="fas fa-envelope-open-text mr-3"></i>@Model.Email</li>
                    <li class="phone"><i class="fas fa-mobile-alt mr-3"></i>+91-@Model.PhoneNumber , +91-@Model.AlternatePhoneNumber</li>
                    <li class="location"><i class="fas fa-map-marked-alt mr-3"></i>NewYork, USA</li>
                    <li class="github"><i class="fab fa-github mr-3"></i>Github Link</li>
                </ul>
            </div>

            <div class="education-container container-block bg-info pl-4 pb-5 text-white">
                <h3 class="container-block-title">Education</h3>
                <div class="item">
                    <div class="degree">MSc in Computer Science</div>
                    <div class="meta">University of London</div>
                    <div class="time">2011 - 2012</div>
                </div><!--//item-->
                <div class="item pt-3">
                    <div class="degree">BSc in Applied Mathematics</div>
                    <div class="meta">Bristol University</div>
                    <div class="time">2007 - 2011</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block bg-info pl-4 pb-5 text-white">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>French <span class="lang-desc">(Professional)</span></li>
                    <li>Spanish <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block bg-info pl-4 pb-5 mb-5 text-white">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Climbing</li>
                    <li>Snowboarding</li>
                    <li>Cooking</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper p-4">

            <section class="section summary-section">
                <h4 class="section-title"><i class="fas fa-user"></i>Summary</h4>
                <div class="summary pb-5">
                    Summary Data goes here//
                </div>

                <h4 class="section-title"><i class="fas fa-building"></i>Work Experience</h4>
                <div class="workExperience pb-5">
                    Work experience Data goes here//
                </div>

                <h4 class="section-title"><i class="fas fa-project-diagram"></i>Projects</h4>
                <div class="projects pb-5">
                    Projects Data goes here//
                </div>

                <h4 class="section-title"><i class="fab fa-superpowers"></i>Skills</h4>
                <div class="skills pb-5">
                    skills Data goes here//
                </div>

            </section>
        </div>

    </div>
</div>
