@model ResumeBuilder.Models.UserInfo
@{
    ViewBag.Title = "PublicProfile";
}
@*added by chinmay*@
<div class="primary-container p-5 w-75 ml-5">
    <div class="wrapper w-100 bg-light h-100">
        <div class="sidebar-wrapper float-right">
            <div class="profile-container p-3 bg-primary align-middle text-center">
                <img width="100px" height="100px" class="rounded-circle" src="~/Images/user.jpg" alt="user logo"/><br />
                <label class="font-weight-bold display-4">@Model.FirstName  @Model.LastName</label><br />
                <label>Full Stack Developer</label>
            </div>

<head>
    @*<link rel="Icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d" type="image/x-icon" />*@
    <title>Profile</title>

    <!-- Global stylesheets -->
    <link href="~/Scripts/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Scripts/css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="~/Scripts/css/style.css" rel="stylesheet">
</head>

            <div class="education-container container-block bg-info pl-4 pb-5 text-white">
                <h3 class="container-block-title">Education</h3>
                <div class="item">
                    <div class="degree">MSc in Computer Science</div>
                    <div class="meta">University of London</div>
                    <div class="time">2011 - 2012</div>
                </div><!--//item-->
                <div class="item pt-3">
                    <div class="degree">BSc in Applied Mathematics</div>
                    <div class="meta">Bristol University</div>
                    <div class="time">2007 - 2011</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block bg-info pl-4 pb-5 text-white">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>French <span class="lang-desc">(Professional)</span></li>
                    <li>Spanish <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block bg-info pl-4 pb-5 mb-5 text-white">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Climbing</li>
                    <li>Snowboarding</li>
                    <li>Cooking</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper p-4">

            <section class="section summary-section">
                <h4 class="section-title"><i class="fas fa-user"></i>Summary</h4>
                <div class="summary pb-5">
                    Summary Data goes here//
                </div>

        <!--Experience-->
        <section class="resume-section p-3 p-lg-5 " id="experience">
            <div class="row my-auto">
                <div class="col-12">
                    <h2 class="  text-center">Experience</h2>
                    <div class="mb-5 heading-border"></div>
                </div>
                <div class="resume-item col-md-6 col-sm-12 ">
                    <div class="card mx-0 p-4 mb-5">
                        <div class=" resume-content mr-auto">
                            <h4 class="mb-3"> Senior Web Developer</h4>
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close
                                the loop on focusing solely on the bottom line.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">March 2019 - Present</span>
                        </div>
                    </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12 ">
                    <div class="card mx-0 p-4 mb-5">
                        <div class=" resume-content mr-auto">
                            <h4 class="mb-3"> Senior Web Developer</h4>
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close
                                the loop on focusing solely on the bottom line.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">March 2019 - Present</span>
                        </div>
                    </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12 ">
                    <div class="card mx-0 p-4 mb-5">
                        <div class=" resume-content mr-auto">
                            <h4 class="mb-3"> Senior Web Developer</h4>
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close
                                the loop on focusing solely on the bottom line.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">March 2019 - Present</span>
                        </div>
                    </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12">
                    <div class="card mx-0 p-4 mb-5">
                        <div class="resume-content mr-auto">
                            <h4 class="mb-3"> Web Developer</h4>
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close
                                the loop on focusing solely on the bottom line.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">December 2018 - March 2019</span>
                        </div>
                    </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12">
                    <div class="card mx-0 p-4 mb-5">
                        <div class="resume-content mr-auto">
                            <h4 class="mb-3"> Web Developer</h4>
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close
                                the loop on focusing solely on the bottom line.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">December 2018 - March 2019</span>
                        </div>
                    </div>
                </div>
                <div class="resume-item col-md-6 col-sm-12">
                    <div class="card mx-0 p-4 mb-5">
                        <div class="resume-content mr-auto">
                            <h4 class="mb-3"> Junior Web Designer</h4>
                            <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close
                                the loop on focusing solely on the bottom line.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">July 2017 - December 2018</span>
                        </div>
                    </div>
                </div>

                <h4 class="section-title"><i class="fas fa-project-diagram"></i>Projects</h4>
                <div class="projects pb-5">
                    Projects Data goes here//
                </div>

                <h4 class="section-title"><i class="fab fa-superpowers"></i>Skills</h4>
                <div class="skills pb-5">
                    skills Data goes here//
                </div>

            </section>
        </div>

    </div>
</div>
