@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-3">
    <h3 class="text-center">Search Anyone's Resume</h3>
    <table>
        <thead></thead>
        <tbody></tbody>
    </table>
</div>