@model ResumeBuilder.Models.ViewModel.SettingsVM
@{
    Layout = null;
    bool edu = Model.Education;
    bool lan = Model.Language;
    bool proj = Model.Project;
    bool skill = Model.Skill;
    bool wExp = Model.WorkExperience;
}

<div class="container-fluid bg-light mt-5 mb-5 w-100 p-3 align-items-center">
    <p class="text-center">The Public Profile contains checked entries</p>
    <form class="setting-form">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormEducation" data-val="true"
                   data-bind="checked: @edu)">
            <label class="custom-control-label" for="settingFormEducation">Education</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormLanguage" data-val="true"
                   data-bind="checked: @lan)">
            <label class="custom-control-label" for="settingFormLanguage">Language</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormProject" data-val="true"
                   data-bind="checked: @proj)">
            <label class="custom-control-label" for="settingFormProject">Project</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormSkill" data-val="true"
                   data-bind="checked: @skill)">
            <label class="custom-control-label" for="settingFormSkill">Skill</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormWorkExperience" data-val="true"
                   data-bind="checked: @wExp)">
            <label class="custom-control-label" for="settingFormWorkExperience">Work Experience</label>
        </div>
        <button type="submit" class="mt-2 btn btn-sm btn-success save-settings">SAVE</button>
    </form>
</div>