@model ResumeBuilder.ViewModel.SettingsVM
@{
    Layout = null;
    bool edu = Model.Education;
    bool lan = Model.Language;
    bool proj = Model.Project;
    bool skill = Model.Skill;
    bool wExp = Model.WorkExperience;
}

<div class="container-fluid bg-light mt-5 mb-5 w-100 p-3 align-items-center">
    <p ><h3 class="text-center text-primary"> Public Profile contains checked entries</h3></p>
    <form class="setting-form">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormEducation" data-val="true"
                   data-bind="checked: @edu)">
            <label class="custom-control-label" for="settingFormEducation"><h4>Education</h4></label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormLanguage" data-val="true"
                   data-bind="checked: @lan)">
            <label class="custom-control-label" for="settingFormLanguage"><h4>Language</h4></label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormProject" data-val="true"
                   data-bind="checked: @proj)">
            <label class="custom-control-label" for="settingFormProject"><h4>Project</h4></label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormSkill" data-val="true"
                   data-bind="checked: @skill)">
            <label class="custom-control-label" for="settingFormSkill"><h4>Skill</h4></label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingFormWorkExperience" data-val="true"
                   data-bind="checked: @wExp)">
            <label class="custom-control-label" for="settingFormWorkExperience"><h4>Work Experience</h4></label>
        </div>
        <button type="submit" class="mt-2 btn btn-sm btn-success save-settings">SAVE</button>
    </form>
</div>