
@{
    ViewBag.Title = "SummaryModal";
}

<h2>Summary</h2>
@sec
bootbox.prompt({
    title: "This is a prompt with a date input!",
    inputType: 'date',
    callback: function (result) {
        console.log(result);
    }
});

