@{
    ViewBag.Title = "Templete";

}
<!--Added by Bhabani-->
<div class="primary-container mx-5 mt-2 w-100 mh-100 position-relative">

    <div class="container-fluid header-text text-white text-center w-100 px-0 py-0">
        <div class="col-12 px-0 img-gradient">
            <img src="https://www.dream-wallpaper.com/free-wallpaper/art-wallpaper/colorful-design-1-wallpaper/1440x900/free-wallpaper-9.jpg" class="img-responsive w-100" height="120px">
            <div class="carousel-caption">
                <h1>Your Resume</h1>
            </div>

        </div>
    </div>

    <div class="wrapper w-100 bg-light rounded">
        <div class="sidebar-wrapper bg-light float-right mb-4">

            <div class="contact-container container-block bg-light pt-5 pl-4 pb-2">
                <ul class="list-unstyled contact-list">
                    <li><i class="far fa-user"></i> <span class="tName"></span></li>
                    <li><i class="fas fa-envelope-open-text mr-1"></i><span class="tEmail"></span></li>
                    <li><i class="fas fa-mobile-alt mr-2"></i><span class="tPhone"></span></li>
                    <li><i class="fab fa-github mr-1"></i>Github Link</li>
                </ul>
            </div>
            <hr />
            <div class="education-container container-block bg-light pl-4">
                <h3 class="container-block-title">Education</h3>
                <div class="item pt-3">
                    <span class="teducation"></span>
                </div><!--//item-->
            </div>
            <hr />
            <div class="languages-container container-block bg-light pl-4 pb-3 ">
                <h3 class="container-block-title">Languages</h3>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>French <span class="lang-desc">(Professional)</span></li>
                    <li>Spanish <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->
            <hr />
            <div class="interests-container container-block bg-light pl-4">
                <h3 class="container-block-title">Interests</h3>
                <ul class="list-unstyled interests-list">
                    <li>Climbing</li>
                    <li>Snowboarding</li>
                    <li>Cooking</li>
                </ul>
            </div>

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper row-cols-lg-1 card mh-100 p-4">

            <section class="section summary-section">
                <h4 class="section-title"><i class="fab fa-stripe-s mr-2" style="color: #e6185e;"></i>Summary</h4>
                <div class="summary pb-5">
                    <h5><span class="tResume"></span></h5>
                    <span class="tSummary"></span>
                </div>

                <h4 class="section-title"><i class="fas fa-building mr-2" style="color: #e6185e;"></i>Work Experience</h4>
                <div class="workExperience pb-5">
                    <span class="tWorkexperience"></span>
                </div>

                <h4 class="section-title"><i class="fas fa-project-diagram mr-2" style="color: #e6185e;"></i>Projects</h4>
                <div class="projects pb-5">
                    <span class="tproject"></span>
                </div>

                <h4 class="section-title"><i class="fab fa-superpowers mr-2" style="color: #e6185e;"></i>Skills</h4>
                <div class="skills pb-5">
                    <span class="tskill"></span>
                </div>

            </section>
        </div>

    </div>
</div>
