@{
    Layout = null;

}
<div class="d-inline-flex ml-3">
    <div class="containertemplate rounded mr-2">
        <img class="template-img" src="~/Images/template1.png" alt="" />
        <p class="title">Clean Page</p>
        <div class="overlay"></div>
        <div class="button ml-1">
            <a href="#" class="viewBtn" data-template-id="1"> VIEW </a>
        </div>
    </div>

    <div class="containertemplate">
        <img class="template-img" src="~/Images/template2.png" alt="" />
        <p class="title">Irish Style</p>
        <div class="overlay"></div>
        <div class="button ml-1">
            <a href="#" class="viewBtn" data-template-id="2"> VIEW </a>
        </div>
    </div>
</div>